*{
  box-sizing: border-box;
}

// .flash-box{
//   color: white;
//   font-size: 1rem;
//   font-weight: lighter;
//   text-align: center;
//   width: 100vw;
// }

// .notice{
//   background-color: #38aef0;
// }

.chat-side{
  width: 300px;
  color: white;
  float: left;
}

  .header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;


    &__name{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
    }

    .icon{
      display: flex;
      color: white;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    } 
  }


  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
  }

  .group{
    margin-bottom: 40px;

    &__name{
      font-size: 15px;
      margin-bottom: 5px;
      color: white;
    }

    &__message{
      font-size: 11px;
      color: white;
    }
  }

.chat-main{
  width: calc(100vw - 300px);
  float: left;

  .main-header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;  
    overflow: scroll;

    &__left-box{
      margin-top: 35px;
    }

    &__left-box__current-group{
      font-size: 20px;
      color: #333333;
      margin-bottom: 15px;
    }

    &__left-box__member-list{
      display: flex;
      font-size: 12px;
      color: #999999;
    }

    &__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
    }
  }

  .messages{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;

    .message{
      padding-bottom: 40px;

      &__upper-info{
        display: flex;
        margin-bottom: 10px;

        &__talker{
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }

        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }

      &__text{
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }   
    }
  }
}
  
  .form{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;

       form{
        display: flex;
        
      .input-box{
        position: relative;
        width: 100%;
        display: flex;

        &__text{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }

        &__image{
        font-size: 1.3rem;
        position: relative;
        top: 10px;
        right: 30px;
        cursor: pointer;

          &__file{
            display: none;
          } 
        }
      }

      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 2px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  } 


// .chat {
//   width: calc(100% - 300px);
//   .header {
//     box-sizing: border-box;
//     height: 100px;
//     padding: 0 40px;
//     .left-header {
//       float: left;
//       &__title {
//         color: #333;
//         font-size: 20px;
//         margin-top: 35px;
//       }
//       &__members {
//         display: flex;
//         color: $light_gray;
//         font-size: 12px;
//         margin-top: 15px;
//         .member {
//           display: inline-block;
//           padding-right: 5px;
//         }
//       }
//     }
//     .right-header {
//       border: 1px solid $light_blue;
//       color: $light_blue;
//       float: right;
//       height: 40px;
//       line-height: 40px;
//       margin-top: 28px;
//       padding: 0 20px;
//       &__button {
//         color: $light_blue;
//         text-decoration: none;
//       }
//     }
//   }

//   .messages {
//     background-color: #FAFAFA;
//     box-sizing: border-box;
//     padding: 46px 40px 0;
//     height: calc(100% - 100px - 90px);
//     .message {
//       .upper-message {
//         display: flex;
//         &__user-name {
//           color: $black;
//           font-size: 16px;
//           font-weight: bold;
//         }
//         &__date {
//           color: $light_gray;
//           font-size: 12px;
//           padding-left: 10px;
//         }
//       }
//       .lower-message {
//         margin-top: 10px;
//         &__content {
//           color: $black;
//           font-size: 14px;
//           margin-bottom: 40px;
//         }
//       }
//     }
//   }

//   .form {
//     background-color: #DDDDDD;
//     box-sizing: border-box;
//     height: 90px;
//     padding: 20px 50px 20px 40px;
//     &__message {
//       border: none;
//       float: left;
//       height: 50px;
//       width: calc(100% - 150px);
//     }
//     &__mask {
//       background-color: $white;
//       float: left;
//       height: 50px;
//       padding-right: 10px;
//       &__image {
//         font-size: 20px;
//         line-height: 50px;
//       }
//       .hidden {
//         display: none;
//       }
//     }
//     &__submit {
//       background-color: $light_blue;
//       border: none;
//       color: $white;
//       float: right;
//       font-size: 16px;
//       height: 50px;
//       margin-left: 15px;
//       padding: 0 30px;
//     }
//   }
// }

// .side-bar {
//   box-sizing: border-box;
//   color: white;
//   width: 300px;
//   .header {
//     background-color: #253141;
//     height: 100px;
//     line-height: 100px;
//     padding: 0 20px;
//     &__name {
//       display: inline-block;
//       font-size: 15px;
//       font-weight: bold;
//     }
//     &__lists {
//       display: inline-block;
//       float: right;
//       .list {
//         display: inline-block;
//       }
//       .icon {
//         color: white;
//         font-size: 10px;
//       }
//     }
//   }

//   .groups {
//     background-color: #2f3e51;
//     height: calc(100vh - 100px);
//     padding: 0 20px;
//     .group {
//       box-sizing: border-box;
//       padding: 20px 0 40px;
//       &__name {
//         color: white;
//         font-size: 16px;
//       }
//       &__message {
//         color: white;
//         font-size: 14px;
//         margin-top: 5px;
//       }
//     }
//   }
// }